PORT=3030
NODE_ENV=development
// database settings
DB_PORT = 3306
DB_HOST = 94.130.182.136
DB_USERNAME = holiday
DB_PASSWORD = gY84jdvny7D
DB_DATABASE = holiday

JWTKEY = holiday
TOKEN_EXPIRATION = 3600
// MAIL_TRANSPORT = smtps://asgeir@meta.ua:pass@smtp.meta.ua
// MAIL_FROM_NAME = WebWork
// MAIL_PORT: 465

MAIL_HOST: smtp.meta.ua
MAIL_PORT: 465
MAIL_ID = asgeir@meta.ua
MAIL_PASS = password